@model LeaveManagementT5.Models.LeaveAllocation

<h2>Delete Leave Allocation</h2>

<div>
    <h4>Are you sure you want to delete this leave allocation?</h4>
    <h4>Employee: @Model.Employee.UserName</h4>
    <h4>Leave Type: @Model.LeaveType.Name</h4>
    <h4>Number of Days: @Model.NumberOfDays</h4>
    <h4>Year: @Model.Year</h4>
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>