@model List<LeaveManagementT5.Models.LeaveRequest>

<h2>Leave Requests</h2>



@if (!string.IsNullOrWhiteSpace(ViewBag.InsufficientLeaveDaysMessage))
{
    <div class="alert alert-danger">@ViewBag.InsufficientLeaveDaysMessage</div>
}


<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="status">Filter by Status:</label>
        <select name="status" class="form-control">
            <option value="">All</option>
            <option value="Pending">Pending</option>
            <option value="Accepted">Approved</option>
            <option value="Declined">Rejected</option>
            <!-- Add other status options as needed -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Apply Filter</button>
</form>



<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveRequest in Model)
        {
            <tr>
                <td>@leaveRequest.Employee.UserName</td>
                <td>@leaveRequest.LeaveType.Name</td>
                <td>@leaveRequest.StartDate.ToShortDateString()</td>
                <td>@leaveRequest.EndDate.ToShortDateString()</td>
                <td>@leaveRequest.Status</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-action="AcceptRequest" asp-route-id="@leaveRequest.Id" method="post">
                            <button type="submit" class="btn btn-success btn-action">Accept</button>
                        </form>
                        <form asp-action="DenyRequest" asp-route-id="@leaveRequest.Id" method="post">
                            <button type="submit" class="btn btn-danger btn-action mt-2">Deny</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@leaveRequest.Id" method="post">
                            <button type="submit" class="btn btn-danger btn-action mt-2">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

