@model List<LeaveManagementT5.Models.LeaveRequest>

<h2>My Leave Requests</h2>

<table class="table">
    <a asp-controller="Pdf" asp-action="GeneratePdf" class="btn btn-primary">Generate PDF</a>
    <thead>
        <tr>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveRequest in Model)
        {
            <tr>
                <td>@leaveRequest.LeaveType.Name</td>
                <td>@leaveRequest.StartDate.ToShortDateString()</td>
                <td>@leaveRequest.EndDate.ToShortDateString()</td>
                <td>@leaveRequest.Status</td>
                <td>
                    <!-- Add a "Delete" button for each leave request -->
                    <form asp-action="Delete" asp-route-id="@leaveRequest.Id" method="post">
                        <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete this leave request?');" />
                    </form>
                </td>
               
            </tr>
        }
    </tbody>
</table>

